# Упражнение 1

В SQL писать SELECT * FROM pulsar_stars WHERE ((TARGET = 0 AND MIP >=81.5234375 AND MIP <=82.9453125) OR (TARGET = 1 AND MIP >=70.7421875 AND MIP <=77.4921875))  
Значения изменить на свои, потом скачать данные и ввести ответ например **100 rows**

In [ ]:
!pip install pandas sklearn openpyxl

In [22]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [23]:
df = pd.read_csv("report.csv")

Это второе значение

In [24]:
df["MIP"].mean()

78.24110457920793

In [25]:
df_norm = df.drop(columns=["TARGET"])

In [26]:
scaler = MinMaxScaler()
names = df_norm.columns
d = scaler.fit_transform(df_norm)
scaled_df = pd.DataFrame(d, columns=names)

Это третье значение

In [27]:
scaled_df["MIP"].mean()

0.6145079296662063

In [28]:
writer = pd.ExcelWriter('output.xlsx')
scaled_df.to_excel(writer)
writer.close()

Скопировать значение из _output.xlsx_ и вставить в _example.xlsx_  
Также изменить значение STAR (желтые ячейки)  
Ответ в **зеленой ячейке**