## Упражнение 3

### Задача 1

In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression

Тут необходимо самому создать файл csv из предложенной таблицы

In [21]:
df = pd.read_csv("report.csv", index_col='id')
df

     X   Y
id
1   15  37
2   11  33
3    6  13
4   21  37
5   17  49
6    5   9
7   14  23
8    9  26
9    7  15
10  24  38

**Первый** ответ

In [22]:
df["X"].mean()

12.9

**Второй** ответ

In [23]:
df["Y"].mean()

28.0

In [24]:
X = pd.DataFrame(df.drop(['Y'], axis=1))
Y = pd.DataFrame(df['Y'])
reg = LinearRegression().fit(X,Y)

Пока что непонятная фигня

In [25]:
reg.intercept_

array([6.94158442])

In [26]:
reg.coef_

array([[1.63243532]])

### Задача 2

In [20]:
df2 = pd.read_csv("candy-data.csv", index_col='competitorname')
df2

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

Вставить в названия указаные у вас

In [35]:
train_data = df2.drop(['One dime', 'Nik L Nip'])

In [29]:
X2 = pd.DataFrame(train_data.drop(['winpercent', 'Y'], axis=1))
Y2 = pd.DataFrame(train_data['winpercent'])
reg2 = LinearRegression().fit(X2, Y2)

Вставить значения winpercent указаные в варианте  
**Третий** ответ

In [31]:
reg2.predict([[0, 1, 0, 1, 1, 0, 1, 1, 1, 0.848, 0.594]])

array([[46.24325994]])

**ТУТ УЖЕ САМОМУ ВСТАВЛЯТЬ НАЗВАНИЯ КОНФЕТ УКАЗАНЫЕ В ВАРИАНТЕ**  
Это первые 2 ответа

In [36]:
candy1 = df2.loc['One dime',:].to_frame().T
reg2.predict(candy1.drop(['winpercent', 'Y'], axis=1))

array([[35.81785213]])

In [37]:
candy2 = df2.loc['Nik L Nip',:].to_frame().T
reg2.predict(candy2.drop(['winpercent', 'Y'], axis=1))

array([[40.5568858]])